APP_KEY=
APP_URL=https://ba-event.example.com
APP_ENV=production
APP_DEBUG=false

DB_DATABASE=ba_event
DB_USERNAME=ba_event
DB_PASSWORD=change-this-password

MAIL_MAILER=smtp
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=noreply@ba-event.example.com

LOG_LEVEL=warning
